<!doctype html>
<html ng-app>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Player View</title>
    <script src="lib/angular.min.js"></script>
    <script src="js/player.js"></script>
</head>
<body>
<div ng-controller="FetchCtrl">
    <div>
        <table ng-init="fetchInitial()">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Health</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
            <tr ng-repeat="entry in data">
                <td>{{entry.id}}</td>
                <td>{{entry.name}}</td>
                <td>{{entry.health}}</td>
                <td>{{entry.status}}</td>
            </tr>
            </tbody>

        </table>
    </div>
    <br>
    <button ng-click="fetchInitial()" ng-disabled="running">Reconnect to server</button>
    <pre>http status code: {{status}}</pre>
</div>
</body>
</html>