h1 {
    color: #104A91;
    font-size: 14pt;
    line-height: 1.2em;
}

div#middlecontainer .title, div#middlecontainer h2 {
    color: #104A91;
}

.title, .title a {
    font-weight: bold;
    margin: 0 auto;
}

a:link, a:visited, a:hover, .title, .title a, .submitted, .links, .node .taxonomy, #aggregator .news-item .categories, #aggregator .source, #aggregator .age, #forum td .name, div.admin-panel .description {
    color: #104A91;
}

h1, h2, h3, h4, h4 {
    margin: 10px 0;
    padding-bottom: 5px;
}


